<section id="contactanos">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contacta con nosotros</h2>
                </div>
            </div>
	    <div class="row">
		<div class="col-lg-12 text-center">
	    </div>
            <div class="row">
		<div class="col-lg-12 text-center">
			<ul class="list-inline cool-buttons">
				{% for network in site.social %}
				<li><a href="{{ network.url }}"><i class="fa-fu_adblock fa-fu_adblock-{{ network.title }}"></i></a>
				</li>
				{% endfor %}
			</ul>
		</div>
            </div>
	    <div class="row">
		<div class="col-lg-12 text-center">
			<h3 class="section-subheading gris">Crta. Miraflores a Guadalix M-626 P.K. 6.</h3>
			<h3 class="section-subheading gris">28792 Miraflores de la Sierra (Madrid)</h3>
			<h3 class="section-subheading gris">91 844 52 88</h3>
			<h3 class="section-subheading gris">almacenes.juanma@gmail.com</h3>
		</div>
		<div style="text-align: center;">
		<div style="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3020.323930711645!2d-3.7673356845923887!3d40.79887497932255!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDDCsDQ3JzU2LjAiTiAzwrA0NSc1NC41Ilc!5e0!3m2!1ses!2ses!4v1484142693348" width="400" height="250" 			frameborder="0" style="border:0" allowfullscreen></iframe>

	    </div>
        </div>
    </section>
