<section id="empresa">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Almacén de materiales</div>
                <div class="intro-heading">JUAN MANUEL FRUTOS S.L.</div>
		<a href="#ofertas" class="page-scroll btn btn-xl">Descubre nuestras ofertas en estufas de pellet...</a>
	    <div class="row">
		<div class="col-lg-12 text-center">
			<h3 class="section-subheading gris">Crta. Miraflores a Guadalix M-626 P.K. 6.</h3>
			<h3 class="section-subheading gris">28792 Miraflores de la Sierra (Madrid)</h3>
			<h3 class="section-subheading gris">91 844 52 88</h3>
			<h3 class="section-subheading gris">almacenes.juanma@gmail.com</h3>
		</div>
	    </div>
        </div>
    </section>
