<section id="empresa">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Almacén de materiales</div>
                <div class="intro-heading">JUAN MANUEL FRUTOS S.L.</div>
	    <div class="row">
		<div class="col-lg-12 text-center">
			<h3 class="section-subheading gris">Experiencia, calidad y precio. Asesoramiento personalizado.</h3>
			<h3 class="section-subheading gris">Presupuestos sin compromiso. Trabajo garantizado.</h3>
		</div>
	    </div>
	    <a href="#ofertas" class="page-scroll btn btn-xl">Descubre nuestras ofertas en estufas de pellet...</a>
        </div>
    </section>
