<!-- Talleres Section -->
    <section id="estufas">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Estufas de pellet</h2>
                    <h3 class="section-subheading text-muted">Máxima eficiencia y mínimo consumo</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
			<li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/aire.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Estufas de aire</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ideal para calentar una habitación. De 30 a 150m².</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/canalizable.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Estufas de aire canalizables</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Calienta varias habitaciones a la vez.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/hidroestufa.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Hidroestufas</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Conecta tu estufa al sistema de radiadores y calienta tu hogar más uniformemente.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/caldera.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Calderas</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Reemplaza tu sistema de caldera central para agua caliente sanitaria y calefacción centralizada.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/pasillo.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Estufas de pasillo</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Cuando el espacio importa.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-image">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/insertable.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Insertables</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Estufas insertables tipo cassette</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Consulte
                                    <br>sin
                                    <br>compromiso</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
